<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>display</servlet-name>
        <servlet-class>display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showdata</servlet-name>
        <servlet-class>showdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoComplete</servlet-name>
        <servlet-class>AutoComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cascading</servlet-name>
        <servlet-class>cascading</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change</servlet-name>
        <servlet-class>change</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showdata</servlet-name>
        <url-pattern>/showdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoComplete</servlet-name>
        <url-pattern>/Auto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>display</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cascading</servlet-name>
        <url-pattern>/cascading</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
